<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="devcheck.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Sample Test">
        <classes>
            <class name="devcheck.Test_Dashboard">
                <methods>
                    <include name="verifySubMenusPresent"/>
                    <include name="verifySubmenusAreMatched"/>
                    <include name="checkSwipeFunctionality"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>